
<h1>Hello, this is my CSS task</h1>
<header>
.red {
    font: 12px, red, "Arial", sans-serif;
}
.bold{
    font: 16 px, bold, #fff, "Arial", sans-serif;
    background-color: green
}
</header>
<body>
<p class="red">This text has red color</p>
<p class="bold">This text is bold and white</p>
</body>
